# API Backend — pointe vers Render.com staging
VITE_API_SERVER_URL=https://stockhub-back.onrender.com/api
VITE_API_V1=/v1
VITE_API_V2=/v2

# Azure AD B2C — même app
VITE_CLIENT_ID=0dc4acfb-ecde-4f9b-81eb-9af050fb52d9
VITE_TENANT_NAME=stockhubb2c
VITE_AUTHORITY_DOMAIN=stockhubb2c.b2clogin.com
VITE_SIGN_UP_SIGN_IN_POLICY=B2C_1_signupsignin
VITE_FORGOT_PASSWORD_POLICY=B2C_1_reset_password
VITE_EDIT_PROFILE_POLICY=B2C_1_edit_profile

# Scopes (identiques prod)
VITE_SCOPE_READ=https://stockhubb2c.onmicrosoft.com/dc30ef57-cdc1-4a3e-aac5-9647506a72ef/FilesRead
VITE_SCOPE_WRITE=https://stockhubb2c.onmicrosoft.com/dc30ef57-cdc1-4a3e-aac5-9647506a72ef/FilesWrite
