.border-stock-optimal {
  border-left-width: 4px;
  border-left-color: rgb(16 185 129 / 0.3);
}
.border-stock-optimal:hover {
  border-left-color: rgb(16 185 129 / 0.5);
}

.border-stock-low {
  border-left-width: 4px;
  border-left-color: rgb(245 158 11 / 0.3);
}
.border-stock-low:hover {
  border-left-color: rgb(245 158 11 / 0.5);
}

.border-stock-critical {
  border-left-width: 4px;
  border-left-color: rgb(239 68 68 / 0.4);
}
.border-stock-critical:hover {
  border-left-color: rgb(239 68 68 / 0.6);
}

.border-stock-outOfStock {
  border-left-width: 4px;
  border-left-color: rgb(107 114 128 / 0.5);
}
.border-stock-outOfStock:hover {
  border-left-color: rgb(107 114 128 / 0.7);
}

.border-stock-overstocked {
  border-left-width: 4px;
  border-left-color: rgb(59 130 246 / 0.3);
}
.border-stock-overstocked:hover {
  border-left-color: rgb(59 130 246 / 0.5);
}

